[Desktop Entry]
Encoding=UTF-8
Version=3.3.0
Exec=/usr/bin/tttfh
Name=TicTacToe From Hell
Categories=Application;Game;
Type=Application
Icon=/usr/share/icons/tttfh/tttfh.png
